body {
  background-color: #1b2838;
  color: #c7d5e0;
}

.navbar, footer {
  background-color: #171a21;
}

.sidebar {
  background-color: #171a21;
  min-height: 100vh;
}

.game-card {
  background-color: #2a475e;
  transition: transform .2s;
}

.game-card:hover {
  transform: scale(1.03);
}

.price {
  color: #66c0f4;
  font-weight: bold;
}

.btn-steam {
  background-color: #66c0f4;
  color: #000;
  border: none;
}

.btn-steam:hover {
  background-color: #417a9b;
  color: #fff;
}

.card-body {
  color: white;
}
